.popup__input-title{
    margin: 0;
    padding-top: 34px;
    padding-left: 36px;
    padding-bottom: 24px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
    
  }
  @media screen and (max-width: 580px){
    .popup__input-title{
      padding-top: 25px;
      padding-left: 22px;
      padding-bottom: 45px;
      font-size: 18px;
    }
  }