.footer__copyright{
  margin: 0;
  padding: 0;
  max-width: 318px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}
@media screen and (max-width: 880px) {
  .footer__copyright{
    padding-left: 19px;
    font-size: 14px;
    line-height: 1.21;
  }
}