.popup__input-button_confirm{
    margin-top: 14px;
}
  /* .popup__input-button.popup__input-button_disabled {
    background-color: white;
    color: #000000;
    opacity: 0.2;
    border: 1px solid #000000;
  }
   */
  