.popup__content{
    /* margin: 0 auto; */
    max-width:470px;
    display: grid;
    grid-template-areas: 
      "a b"
      "c d";
    row-gap: 8px;
    z-index: 10;
  }
  @media screen and (max-width: 580px){
    .popup__content{
      max-width: 282px;
      min-height: 322px;
      grid-template-areas: 
        "a b"
        "c c";
      row-gap: 16px;
    }
  }