.page__container {
  margin: 0 auto;
  padding: 45px 0 60px;
  min-width: 320px;
  max-width: 880px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
  }
@media screen and (max-width: 640px){
  .page__container{
    padding: 28px 0px 36px; 
  }
}
